{{ partial "header.html" . }}
  </div>
  <div class="container w-container flex">
	  <div class="block50">
{{ with .Params.photo }}
    {{ with ($.Site.GetPage (path.Dir .)).Resources.GetMatch (path.Base .) }}
        {{ $r := .Resize "400x q80" }}
        <img src="{{ $r.RelPermalink }}">
    {{ end }}
{{ end }}	</div>
	 <div class="block50 left">
<h3>{{.Params.titre}}</h3>
<p class="content-txt">{{.Params.description}}</p><br>
<p class="price">{{.Params.prix}}</p><br>
		 <a class="order" href="mailto:claranoirhomme@gmail.com?subject=Je suis intéressé par {{.Params.titre}}">Commander</a><br><br><br><br>
		 <a href="/">← Go Back</a>
	</div>
	  
  </div>
{{ partial "footer.html" . }}
