<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{{.Params.titre}} | rue de la madeleine</title>
  <meta content="Vêtements cousus main et 100% originaux pour femmes &amp; hommes. Pièces uniques. Commande sur demande possible en ligne." name="description">
  <meta content="{{.Params.titre}} | rue de la madeleine" property="og:title">
  <meta content="{{.Params.description}}" property="og:description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
	<meta property="og:image" content="https://ruedelamadeleine.be/{{.Params.photo}}" />

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Space Mono:regular"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <link href="/images/fvico-rdlm.png" rel="shortcut icon" type="image/x-icon">
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": "{{.Params.titre}}",
  "image": "https://ruedelamadeleine.be/{{.Params.photo}}",
  "description": "{{.Params.description}}",
  "sku": "0446310786",
  "mpn": "925872",
  "brand": {
    "@type": "Thing",
    "name": "rue de la madeleine"
  },
  "review": {
    "@type": "Review",
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": "5",
      "bestRating": "5"
    },
    "author": {
      "@type": "Person",
      "name": "Anthony Barbarich"
    }
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.9",
    "reviewCount": "4"
  },
  "offers": {
    "@type": "Offer",
    "url": "{{.Permalink}}",
    "priceCurrency": "EUR",
    "price": "{{ replace .Params.prix "€" "" }}",
    "priceValidUntil": "2020-11-05",
    "itemCondition": "https://schema.org/UsedCondition",
    "availability": "https://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "rue de la madeleine"
    }
  }
}
</script>
</head>
<body class="body">
  <div class="hero"><a href="/"><img src="/images/suiss.JPG" width="307" srcset="/images/suiss-p-500.jpeg 500w, /images/suiss.JPG 646w" sizes="(max-width: 479px) 100vw, 307px" alt="" class="image"></a>
	      <div class="text-block">Vêtements cousus main à Liège</div>
	  
	  <nav>
		  <a href="/">collection</a>
		  <a href="/process">processus</a>		  
		  <a href="/about">à propos</a>
	  </nav>

</div>
<div class="container w-container flex">
  <div class="block50"> {{ with .Params.photo }}
    {{ with ($.Site.GetPage (path.Dir .)).Resources.GetMatch (path.Base .) }}
    {{ $r := .Resize "490x q80" }} <img src="{{ $r.RelPermalink }}"> {{ end }}
    {{ end }} </div>
  <div class="block50 left">
    <h2>{{.Params.titre}}</h2>
    <p class="content-txt">{{.Params.description}}</p>
    <br>
    <p class="price">{{.Params.prix}}</p>
    <br>
    <!-- thumbnail image wrapped in a link --> 
    <a href="#img1" class="order">Commander</a> <br>
    <br>
    <br>
    <br>
    <a href="/">← Retour</a> </div>
  <div class="block50">
    {{ range .Params.gallerie }} {{ with ($.Site.GetPage (path.Dir .)).Resources.GetMatch (path.Base .) }} {{ $r := .Resize "400x q80" }} <br><br><img src="{{ $r.RelPermalink }}"> 
	
		
		
      <br>
      {{ end }}{{end}} 
  </div>
  <div class="block50 left"> </div>
  
  <!-- lightbox container hidden with CSS -->
  <div class="lightbox" id="img1">
    <form name="commande" method="POST" data-netlify="true" action="/merci">
      <br>
      <p>Les pièces n'étant réalisées que sur commande, la fonctionnalité d'achat direct en ligne n'est pas disponible. Suite à ce message, je vous recontacterai pour avoir les détails nécessaires à la réalisation de la pièce. Merci !</p>
      <br>
      <input type="text" name="lastname" placeholder="Votre Nom">
		      <br>
      <br>
      <input type="email" name="mail" placeholder="Votre adresse e-mail">
      <br>
      <br>      
		<input type="text" name="piece" value="Pièce : {{.Params.titre}}">
      <br>
      <br>
      <textarea name="message" rows="6" columns="10">Bonjour, je suis intéressé(e) par la pièce {{.Params.titre}}, puis-je vous la commander ? Merci</textarea>
      <br>
      <br>
      <input type="submit" class="order" value="envoyer">
    </form>
    <a href="#_">
    <svg xmlns="http://www.w3.org/2000/svg" width="74" height="74" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
    </a> </div>
</div>
{{ partial "footer.html" . }} 